@model Kullanici
@{
    Layout = null;
}
<style>
    body {
        background-color: #eee;
    }

    *[role="form"] {
        max-width: 530px;
        padding: 15px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 0.3em;
    }

        *[role="form"] h2 {
            margin-left: 5em;
            margin-bottom: 1em;
        }
</style>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">

    <h2>Hesap Bilgileri</h2>
    @using (Html.BeginForm("Hesabim", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.KullaniciId)
        <div class="form-group">
            <label for="adi" class="col-sm-3 control-label">Adı</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(a => a.Adi, new { @class = "form-control", value=Model.Adi, required = "required", autofocus = "autofocus" })
            </div>
        </div>
        <div class="form-group">
            <label for="soyadi" class="col-sm-3 control-label">Soyadı</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(a => a.Soyadi, new { @class = "form-control", value = Model.Soyadi, required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(a => a.Mail, new { @class = "form-control", value = Model.Mail, required = "required", type = "email" })
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Sifre</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(a => a.Sifre, new { @class = "form-control", value = Model.Sifre, required = "required", type = "text" })
            </div>
        </div>
        <div class="form-group">
            <label for="telefon" class="col-sm-3 control-label">Telefon</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(a => a.Telefon, new { @class = "form-control", value = Model.Telefon, required = "required", type = "tel" })
            </div>
        </div>
        <div class="form-group">
            <label for="adres" class="col-sm-3 control-label">Adres</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(a => a.Adres, new { @class = "form-control", value = Model.Adres, required = "required", type = "text" })
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Doğum Tarihi</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(a => a.DogumTarihi, new { @class = "form-control", value = Model.DogumTarihi.ToShortDateString(), required = "required", type = "datetime" })
            </div>
        </div>     
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Güncelle</button>
            </div>
            
            <div class="m-t-25 m-b--5 align-center">
                @Html.ActionLink("Geri Dön", "Index")
            </div>
        </div>
    }
    <!-- /form -->
</div> <!-- ./container -->
